body{
    background-color: hsl(212, 45%, 89%);
    padding: 5%;
    font-family:"outfit";
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.words{
    background-color: #fff;
    padding: 5%;
    text-align: center;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}
.ret{
    font-size: large;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 15px;
    
}
.images{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}
.riot{
    font-size: small;
    margin: 13px;
    margin-left: 15px;
   
}
@media (min-width:760px) {
    body{padding: 39%;
        padding-top: 5%;
        padding-bottom: 5%;
    align-items: center;
}
}
